.navigation{
    height: 70px;
    max-width: 975px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
    padding: ;


    background-color: white;
    display:flex;
}
#nav-logo{
    height: 33px;
    width: 268px;
}
.nav-link{
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    font-size: 15px;
}
.nav-items{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-item{
    padding: 0;
}